<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zxapp_33">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity_33.jingcommunication"></activity>
        <activity android:name=".activity_33.jingVideoPlayActivity" />
        <activity android:name=".activity_33.jingVideoList" />
        <activity android:name=".activity_33.xysExercisesDetail" />
        <activity android:name=".activity_33.zlyChangUserInfoActivity" />
        <activity android:name=".activity_33.zlyUserInfoActivity" />
        <activity android:name=".activity_33.jingFindPswActivity" />
        <activity android:name=".activity_33.jingSecuritySettingActivity" />
        <activity android:name=".activity_33.jingEditPswActivity" />
        <activity android:name=".activity_33.jingSettingActivity" />
        <activity android:name=".activity_33.zlyloginActivity" />
        <activity android:name=".activity_33.zlyregActivity" />
        <activity android:name=".xysMainActivity" />
        <activity android:name=".activity_33.hyActivity_33">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>